<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konto zablokowane</title>
    <style>
        body {
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            text-align: center;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

    <h1>Twoje konto zostało zablokowane</h1>
    <p>Skontaktuj się z administratorem, jeśli uważasz, że to błąd.</p>
</body>
</html>