{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="{% static 'scripts/delete.js' %}"defer></script>
<body>
<h2>Lista spotkan</h2>

{% for meeting in meetings %}
    <li>
        <h3>{{ meeting.title }}</h3>
        <p>-{{ meeting.date }} o {{ meeting.time }} </p>
        <a href="{% url 'meeting_detail' meeting.id %}">Szczegóły</a>
        {% if request.user == meeting.created_by %}
            <a href="{% url 'meeting_edit' meeting.id %}">Edytuj</a>
            <a href="{% url 'meeting_delete' meeting.id %}">Usuń</a>
        {% endif %}
    </li>
{% endfor %}

</body>
</html>